.big-container {
  width: 100%;
}

body {
  background: rgba(135,138,140,0.5);
}

.app {
  min-width: 1200px;
}

.outer-container {
  padding: 0px 100px 0px 100px;
}

.inner-container {
  width: 800px;
}

.mock-ui {
  left: 100px;
  top: 60px;
  color: black;
  font-weight: bold;
  background: lightgreen;
  padding: 10px 8px;
  border-radius: 2px;
}